@model List<Reis>
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Reizen"] = "Reizen";
}


<h1> @ViewBag.BestemmingsNaam</h1>
@{
    var imagePath = $"~/images/{ViewBag.BestemmingsNaam}.jpg";
}
<img src="@Url.Content(imagePath)" alt="image">


<table class="table table-striped">
    >
    <thead>
        <tr>
            <th>Vertrek</th>
            <th>Prijs per person</th>
            <th>Aantal dagen</th>
            <th>Boeken</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reis in Model)
        {
            <tr>
                <td>@reis.Vertrek.ToString("dd MMM yyyy")</td>
                <td>@reis.PrijsPerPersoon</td>
                <td>@reis.AantalDagen</td>
                <td><a asp-action="ZoekKlant" asp-route-id="@reis.Id">Boeken</a></td>
            </tr>
        }
    </tbody>
</table>
