@model ReisEnKlanten;
@using MVCReizen.Models;
@using MVCReizen.Controllers;

@{
    ViewData["Title"] = "Zoek";
}
<h3>Besteming</h3>
<p>@Model.Reis.BestemmingscodeNavigation.Plaats<p>
<p> </p>
<h3>Vertrek</h3>
<p>@Model.Reis.Vertrek</p>
<p> </p>
<h3>Aantal dagen</h3>
<p>@Model.Reis.AantalDagen</p>
<p> </p>
<h3>Prijs per persoon</h3>
<p>@Model.Reis.PrijsPerPersoon</p>


    <table class="table">
        <thead>
            <tr>
                <th>Familienaam</th>
                <th>Voornaam</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Woonplaats</th>
                <th>Boeken</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var klant in Model.Klanten)
            {
                <tr>
                    <td>@klant.Familienaam</td>
                    <td>@klant.Voornaam</td>
                    <td>@klant.Adres</td>
                    <td>@klant.Woonplaats.Postcode</td>
                    <td>@klant.Woonplaats.Naam</td>
                    <td>
                    <form method="post" action="~/Home/boeking">
                        <input type="hidden" name="reisId" value="@Model.Reis.Id" />
                        <input type="hidden" name="klantId" value="@klant.Id" />
                        <button type="submit">Boeken</button>
                    </form>
                    </td>
            </tr>
            }
        </tbody>
    </table>


 

