@model Reis;
@using MVCReizen.Models;
@using MVCReizen.Controllers;
@{
    ViewData["Titel"] = "ZoekKlant";
}

<h3>Besteming</h3>
<p>@Model.BestemmingscodeNavigation.Plaats</p>
<p> </p>
<h3>Vertrek</h3>
<p>@Model.Vertrek</p>
<p> </p>
<h3>Aantal dagen</h3>
<p>@Model.AantalDagen</p>
<p> </p>
<h3>Prijs per persoon</h3>
<p>@Model.PrijsPerPersoon</p>
<form method="get" action="~/Home/Zoek">
    <div>
        <label for="KlantZoeken">Familienaam bevat:</label>
        <input type="text" id="klantZoeken" name="klantZoeken" required>
        <input type="hidden" name="reisId" value="@Model.Id" />
        <button type="submit">Zoeken</button>
    </div>
</form>



