@model ReisKlantEnNieuweReisForm;
@using MVCReizen.Models;
@using MVCReizen.Controllers;
@using MVCReizen.ModelView;
@{
    ViewData["Title"] = "Boeking";
}
<div>
    <h1>Reis</h1>
    <h3>Bestemming</h3>
    <p>@Model.Reis.BestemmingscodeNavigation.Plaats</p>
    <h3>Vertrek</h3>
    <p>@Model.Reis.Vertrek.ToString("dd MMM yyyy")</p>
    <h3>Aantal Dagen</h3>
    <p>@Model.Reis.AantalDagen</p>
    <h3>Prijs per persosn</h3>
    <p>@Model.Reis.PrijsPerPersoon</p>
    <h1>Klant</h1>
    <p>@Model.Klant.Voornaam @Model.Klant.Familienaam</p>
    <p>@Model.Klant.Adres</p>
    <p>@Model.Klant.Woonplaats.Postcode @Model.Klant.Woonplaats.Naam</p>
</div>
<div>
    <h1>Boeking</h1>
    <form method="post" asp-action="BoekingKlaar" asp-controller="Boeking">
        <div>
            <div>
                <label asp-for="@Model.NieuweReisForm.AantalVolwassenen">Aantal vowassen</label>
                <span asp-validation-for="@Model.NieuweReisForm.AantalVolwassenen"></span>
                <input type="number" asp-for="@Model.NieuweReisForm.AantalVolwassenen">
            </div>
            <div>
                <label asp-for="@Model.NieuweReisForm.AantalKinderen">Aantal kinderen</label>
                <span asp-validation-for="@Model.NieuweReisForm.AantalKinderen"></span>
                <input type="number" asp-for="@Model.NieuweReisForm.AantalKinderen">
            </div>
            <div>
                <label asp-for="@Model.NieuweReisForm.AnnulatieVerzekering">Annulatie Verzekering</label>
                <input type="checkbox" asp-for="@Model.NieuweReisForm.AnnulatieVerzekering">
                <input type="hidden" asp-for="@Model.NieuweReisForm.KlantId" />
                <input type="hidden" asp-for="@Model.NieuweReisForm.ReisId" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Boeken</button>
            </div>
            <div asp-validation-summary="All"></div>
        </div>
    </form>
</div>


